/.bundle/
/.yardoc
/Gemfile.lock
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
/tmp/
/.vscode/
/.idea/
*.gem

# rspec failure tracking
.rspec_status


/lib/node/node_modules
/lib/node/yarn.lock
/lib/node/package-lock.json
/playground.rb